table{
    width: 85%;
    border-collapse: collapse;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.1) ;
    font-family: Arial, Helvetica, sans-serif;
}


th,td{
    border-bottom: 1px solid #e8e8e8;
    padding: 14px;
}

th{
font-weight: bold;
background: #4caf50;
text-align: start;
}


tr:nth-child(even){
    background: #f9f9f9;
}


tr:nth-child(odd){
    background: #f8f8f8;
}

tr:nth-child(1) td:nth-child(1){
    background: #E0F7FA;
}

tr:nth-child(4) td:nth-child(1){
    background: #FFCDD2;
}

tr:nth-child(1) td:nth-child(4){
    background: #B2DFDB;
}

tr:nth-child(4) td:nth-child(4){
    background: #FFE082;
}